<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an undergraduate engineer at
      <a class="underline-link" href="http://bits-pilani.ac.in/" target="_blank">Birla Institute of Technology and Sciences, Pilani</a> building cool machines with some awesome people. 
      I participated in Flipkart Grid 2.0 and pitched an autonomous hexacopter for indoor use. Currently we are participating in e-yantra again to develop a drone. Moreover, I are working on 
      a quadruped along with our Robotics Team.
    </p>

    <p>
      As an engineer, I enjoy learning how things work and developing things to make life easy and better. My goal is to learn new things and technology to automate or modify existing things.

    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing guitar or listening to music or cycling or enjoying 
      long drives in some calm place.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
