//
// Colors
//

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$blue: #00889a;

// Override Bootstrap default state colors

$primary: $blue;
